<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>SEC, see you! - DeFi catalogue</title>
    <link rel="stylesheet" href="./style.css"></link>
  </head>
  <body>
    <div class="outer">
    <div id="description">
      This is a catalogue of <a target="_blank" href="https://en.wikipedia.org/wiki/Decentralized_finance">DeFi</a> platforms that facilitate permissionless trading
    </div>
    <div id="bg"></div>
    <div id="container">
    <% for (let e of list) { %>
      <div class="item">
        <a class="item-link" href="<%= e.website %>" target="_blank">
          <span class="item-name"><%= e.name %><img src="./link.svg" class="link-icon"></span>
        </a>
        <% if (e.chains.length) { %>
          <span class="item-chains">
          <% for (let chain of e.chains) { %>
            <span class="item-chain-logo" title="<%= chain %>" style="background-image:url('logos/<%= chain %>.svg')"></span>
          <% } %>
          </span>
        <% } %>
        <div class="item-description"><%= e.description %></div>
        <div class="item-tags">
        <% for (let tag of e.tags) { %>
          <span class="item-tag" style="background-color: <%= colorHash(tag.toLowerCase()) %>;"><%= tag _%> </span>
        <% } %>
        </div>
      </div>
    <% } %>
    </div>
    <br>
    <center>
      <a id="edit-link" target="_blank" href="https://github.com/klntsky/sec.cyou/edit/master/list.json">EDIT THIS LIST</a>
    </center>
    <br>
    <br>
    </div>
    <a id="github" href="https://github.com/klntsky/sec.cyou/"><img decoding="async" width="149" height="149" src="https://github.blog/wp-content/uploads/2008/12/forkme_right_gray_6d6d6d.png?resize=149%2C149" class="attachment-full size-full" alt="Fork me on GitHub" loading="lazy" data-recalc-dims="1"></a>
  </body>
</html>
